.main {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.card {
  border-radius: 1rem;
  background-color: blanchedalmond;
  padding: 1rem;
  border: 0.2rem solid transparent;
  width: 23rem;
  transition: 0.3s;
  border-color: black;
  height: max-content;
  cursor: context-menu;
  position: relative;
  &:hover {
    box-shadow: 0 0 10px black;
  }
  &:hover .btn__showItem {
    opacity: 1;
  }
  &__picture {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    border-radius: 0.5rem;
    background-color: white;
  }
  &__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  &__title {
    font-size: 2rem;
  }
  &__price {
    font-size: 1.5rem;
  }
  &__buttons {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 0.5rem;
  }
  &__products {
    margin: auto;
  }
}