.btn {
  background-color : transparent;
  border           : 0.2rem solid transparent;
  cursor           : pointer;
  font-weight      : bold;
  outline          : none;
  text-transform   : uppercase;
  transition       : 0.3s;
  &__shop {
    align-items     : center;
    border-radius   : 50%;
    color           : #f5f0f2;
    display         : flex;
    height          : 4.5rem;
    justify-content : center;
    padding         : 0;
    position        : relative;
    width           : 4.5rem;
    &:hover {
      background-color : #14bbb3;
      color            : black;
    }
    &-indicator {
      background-color : red;
      border-radius    : 50%;
      color            : #f5f0f2;
      font-size        : 1.2rem;
      height           : 2rem;
      padding          : 0.3rem;
      position         : absolute;
      right            : -0.8rem;
      top              : -0.8rem;
      width            : 2rem;
    }
    &-icon {
      font-size   : 3rem;
      height      : max-content;
      line-height : 0;
      width       : max-content;
    }
  }
  &__count {
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-color: black;
  }
  &__addToCar {
    background-color: rgb(51, 51, 51);
    font-size        : 1.8rem;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    color: white;
    width: 90%;
    &:hover {
      background-color: black;
    }
  }
  &__showItem {
    position: absolute;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: max-content;
    height: max-content;
    margin: auto;
    opacity: 0;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &__closeAside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter  : blur(0.5rem);
    z-index: 5;
    display: none;
    &--desktop {
      @include responsive(sm) {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @include responsive(sm) {
        display: block;
      }
    }
  }
}