main {
  min-height: 100vh;
  border: 0.2rem solid black;
}
footer {
  height: 10rem;
  border: 0.2rem solid black;
}

.message {
  font-size  : 3rem;
  margin-top : 1rem;
  text-align : center;
}

.msg {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  &__cargando {
    color: blue;
    &::after {
      content: "";
      animation: textCargando 1s alternate infinite;
    }
  }
  &__error {
    color: red;
    &::after {
      content: "Ups! ocurrió un problema al intentar pedir los datos...";
    }
  }
  &__completado {
    color: green;
    &::after {
      content: "✓ Se encontraron los productos";
    }
  }
}
.d-none {
  display: none;
}

@keyframes textCargando {
  0% {
    content: "Cargando";
  }
  33% {
    content: "Cargando.";
  }
  66% {
    content: "Cargando..";
  }
  100% {
    content: "Cargando...";
  }
}